@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #111111;
  font-family: "Inter";
  padding: 0px;
  margin: 0px;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-content: space-between;
}

/* LEFT BOX */

.left_box {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.left_box img[alt="logo Ohanote"] {
  width: 300px;
}

.left_box h2 {
  font-size: 1.9em;
  font-weight: 400;
  color: white;

  margin-top: 200px;
}

.left_box img[alt="decoration element"] {
  width: 100%;
  z-index: 1;
  bottom: 0;
}

/* RIGHT BOX */

.right_box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 50px 0px 0px 50px;
  padding: 50px;
  justify-content: space-between;

  margin: 0px;

  right: 0px;
}

.right_box .language_menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.right_box span {
  font-size: 1em;
}

.right_box img {
  height: 1.5em;
}

.right_box .signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.right_box .signup h1 {
  font-size: 3em;
}

.right_box .signup .signup_options_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.right_box .signup .signup_options_box .signup_option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 15px;
}

.right_box .signup .or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.right_box .signup .or span {
  margin: 0px 30px;
}

.right_box .signup .or hr {
  border: 1px solid black;
  width: 30px;
  height: 0px;
  margin: 0px;
}

.right_box .signup form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right_box .signup form input {
  padding: 15px;
  border-radius: 15px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgb(131, 131, 131);
}

.right_box .signup form input::placeholder {
  font-size: 1.5em;
  color: #c3c3c3;
}

.right_box .signup form input[type="submit"] {
  background-color: rgb(205, 94, 14);
  color: white;
  font-size: 1.5em;
  font-weight: 800;
}

.right_box .signup .secondary {
  display: block;
  margin-top: 30px;
}

.right_box .signup .secondary a {
  text-decoration: none;
  color: rgb(205, 94, 14);
  line-height: 300px;
}
